* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.root {
  height: 100vh;
  position: relative;
}

.backgroundImgContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.currentWeatherContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.currentWeatherDisplay-left {
  display: flex;
  flex-direction: column;
}

.icon-temp {
  display: flex;
  align-items: center;
}

.forecast-days-container {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.forecast-days-display {
  display: flex;
  background-color: red;
  width: 20%;
}
